body{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(211, 131, 2);
    box-shadow:  inset 1px 1px 20px rgb(211, 131, 2);
}
h1{
    font-size: 75px;
    background: linear-gradient( 90deg, rgb(254, 157, 1),rgb(221, 137, 2),rgb(190, 118, 2),rgb(135, 83, 0),rgb(107, 66, 0),rgb(135, 83, 0), rgb(190, 118, 2),rgb(221, 137, 2),rgb(254, 157, 1));
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: yo 4s linear infinite;
}
@keyframes yo {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
    
}
img{
    height: 500px;
    width: 400px;
}
.img{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.punch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.punch h1{
    font-size: 65px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
p{
    color: rgb(211, 131, 2);
    font-size: 40px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(211, 131, 2);
    border: 2px solid rgb(211, 131, 2);
   margin-top: 5px;
   margin-bottom: 3px;
}