body{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(2, 255, 2);
    box-shadow:  inset 1px 1px 20px rgb(2, 255, 2);
}
h1{
    font-size: 75px;
    background: linear-gradient( 90deg,rgb(2, 255, 2) ,rgb(0, 202, 0),rgb(1, 184, 1),green,rgb(0, 100, 0),rgb(1, 92, 1),rgb(0, 100, 0),green,rgb(1, 184, 1)rgb(1, 184, 1),rgb(0, 202, 0),rgb(2, 255, 2));
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: yo 4s linear infinite;
}
@keyframes yo {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
    
}
img{
    height: 500px;
    width: 400px;
}
.img{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.punch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.punch h1{
    font-size: 65px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
p{
    color: rgb(2, 255, 2);
    font-size: 40px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 255, 2);
    border: 2px solid rgb(2, 255, 2);
   margin-top: 5px;
   margin-bottom: 3px;
}